body{
	background: black;
}

#gameLogin{
	width: 40%;
	margin-left: 30%;
	margin-right: 30%;
	margin-top: 8%;
	background: #424242;
	padding-top: 2%;
	padding-bottom: 2%;
	padding-left: 0%;
	padding-right: 0%;
	border-radius: 20px;
	background-image: url("../img/glitchEffect.gif");
	background-size: cover;
	box-shadow: 0px 0px 5px #01DF01;
	animation: mainLoginBoxGlitch 2s infinite;
	animation-play-state: running;
	overflow: visible;
	position: relative;
}

#gameLogin img{
	width: 20%;
	margin-left: 40%;
	margin-right: 40%;
	padding: 0%;
}

#optionsBorder{
	width: 100%;
	margin-top: 2%;
	margin-bottom: 2%;
	margin-left: 0%;
	margin-right: 0;
	padding: 0%;
	overflow: hidden;
	position: relative;
	z-index: 2;
}

#optionsSection{
	width: 100%;
	margin-left: 0%;
	margin-right: 0%;
	margin-top: 0%;
	margin-bottom: 0%;
	padding: 0%;
	position: relative;
	transition: 0.8s;
}

#firstButtons{
	margin: 0%;
	padding: 0%;
	width: 100%;
	display: block;
}

#gameLogin button{
	background: #151515;
	color: #2EFE2E;
	text-align: center;
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 2%;
	margin-bottom: 2%;
	padding-left: 0%;
	padding-right: 0%;
	padding-top: 1%;
	padding-bottom: 1%;
	font-size: 1.35em;
	border: 2px solid #BDBDBD;
	border-radius: 10px;
	cursor: pointer;
	box-shadow: 0px 0px 5px #01DF01;
	text-shadow: 0px 0px 0px #2EFE2E;
	transition: 0.2s;
}

#gameLogin button:hover{
	border: 2px solid #2EFE2E;
	text-shadow: 0px 0px 3px #2EFE2E;
}

#gameLoginForm, #forgotPasswordForm{
	display: none;
	width: 100%;
	margin: 0%;
	padding: 0%;
}

#gameLoginForm input, #forgotPasswordForm input{
	background: #151515;
	color: #2EFE2E;
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 2%;
	margin-bottom: 2%;
	padding-left: 0%;
	padding-right: 0%;
	padding-top: 1%;
	padding-bottom: 1%;
	text-align: center;
	font-size: 1.35em;
	border: 2px solid #BDBDBD;
	border-radius: 10px;
	box-shadow: 0px 0px 5px #01DF01;
	text-shadow: 0px 0px 0px #2EFE2E;
	transition: 0.2s;
}

#gameLoginForm input[type=button], #forgotPasswordForm input[type=button]{
	 margin-top: 5%;
	 cursor: pointer;
}

#gameLoginForm p{
	text-align: right;
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 2%;
	margin-bottom: 2%;
	padding-left: 0%;
	padding-right: 0%;
	padding-top: 1%;
	padding-bottom: 1%;
}

#gameLoginForm p a{
	cursor: pointer;
	transition: 0.3s;
	font-size: 1.15em;
	font-weight: 300;
	text-decoration: none;
	color: #2EFE2E;
	user-select: none;
}

#gameLoginForm p a:hover{
	text-shadow: 0px 0px 4px #2EFE2E;
	text-decoration: underline;
}

#gameLoginForm input:hover, #forgotPasswordForm input:hover{
	border: 2px solid #2EFE2E;
	text-shadow: 0px 0px 3px #2EFE2E;
}

#gameLoginForm input:focus, #forgotPasswordForm input:focus{
	border: 2px solid #2EFE2E;
	outline: none;
}

#goToMainPageFromLoginButton, #goBackToLoginFromForgotButton{
	margin-top: 1% !important;
}

#newLoadingPage{
	width: 100%;
	margin: 0%;
	padding : 0%;
	display: none;
}

#newLoadingPage table{
	width: 46%;
	margin-left: 25%;
	margin-right: 25%;
	margin-top: 2%;
	padding: 2%;
}

#newLoadingPage table td{
	border : none;
	width: 50%;
	margin: 0%;
	color: #2EFE2E;
	text-align: left;
	font-size: 1.5em;
	font-weight: bold;
}

#newLoadingPage table td img{
	margin-right: 7%;
	margin-left: 53%;
	width: 40%;
}
