body{
   background: black;
   color: white;
}

#mainConsoleWindow{
   position: absolute;
   margin-right: 0.5%;
   margin-left: 0.5%;
   margin-top: 0%;
   margin-bottom: 0%;
   padding: 0.5%;
   width: 98%;
   height: 98%;
   font-size: 1.1em;
   overflow: auto;
}

#mainConsoleInput{
  background: transparent;
  width: 98%;
  color: white;
  padding: 0.2%;
  font-size: inherit;
  border: none;
  font-family: inherit;
}

#mainConsoleInput:focus{
	outline: none;
}

#consoleLog{
  width: 100%;
  margin: 0%;
  padding: 0%;
  overflow-wrap: break-word;
}

#consoleLog pre{
  white-space: pre-wrap;       /* Since CSS 2.1 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: normal;
  margin: 0%;
  padding: 0%;
  font-size: 1.2em;
}

#commandLine{
  width: 100%;
  margin: 0%;
  padding: 0%;
}

#commandLine div{
  display: inline-block;
}

.serverResponse{
  width: 98%;
  margin-left: 2%;
  margin-right: 0%;
  margin-top: 0%;
  margin-bottom: 0%;
  padding: 0%;
  font-weight: bold;
  font-size: 1.2em;
}
